# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Webpack Output
dist/
build/

# Optional REPL history
.node_repl_history

# Mac system files
.DS_Store

# Environment variables
.env

# IDE/Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temp files
*.swp
*.tmp
*.bak
*.pid

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo
